name = "pastebin-worker"
compatibility_date = "2023-10-30"
compatibility_flags = ["nodejs_compat"]

main = "src/index.ts"
workers_dev = false

[vars]
ENVIRONMENT = "production"
BASE_URL = "https://as.al"

[site]
bucket = "./static/dist"

# 如果不使用自定义域名，将下面的代码注释掉
[[routes]]
pattern = "as.al"
custom_domain = true



[[d1_databases]]
binding = "DB"
database_name = "pastebins"
database_id = "078d7f10-5bd9-4d20-ace4-a8d46b9d1288"
